<div class="margin"></div>
<div class="naisu">
	<h1 class="naisu">Tokyo!</h1>
	<p class="naisu">
		Tokyo is the capital of Japan. Before 1868 Tokyo was called Edo. You might think Tokyo is just a giant city with not much greenery. It actually has many parks, such as Shinjuku Gyoen National Garden, Yoyogi Park, Imperial Palace East Garden, and many more!
	</p>
	<img src="https://img.theculturetrip.com/wp-content/uploads/2015/12/park1.jpg">
</div>