<div class="margin"></div>
<div class="naisu">
	<p class="naisu">
		Japan's culture is very differen't than ours. It's much more respectful and formal. Japan also has a lot of cool traditions, here are some!
	</p>
	<h1 class="naisu">Yamayaki Mountain Burning</h1>
	<p class="naisu">Yamayaki Mountain Burning is the burning of the plants on a mountain before spring, usually there are fireworks.
	</p>
	<h1 class="naisu">Mamemaki Bean Throwing</h1>
	<p class="naisu">On Mamemaki Bean Throwing day parents put on demon masks and try to scare their kids, the kids then throw beans at them.
	</p>
	<h1 class="naisu">Mochi Making</h1>
	<p class="naisu">Mochi is a rice cake made by pounding rice with a wood hammer. It’s mass produced, but for special occasions families will make it the traditional way.
	</p>
	<img src="https://i2.wp.com/hypebeast.com/image/2016/06/mochi-masters-0.gif?w=960">
</div>