<div class="margin"></div>
<div class="naisu">
	<p class="naisu">
		Japan has thousands of islands, the four biggest are Honshu, Hokkaido, Kyushu, and Shikoku. Japan is roughly 50% Mountains and forests. Only roughly 15% can grow stuff, and that same 15% is the only land suitable for living. Japan get's many earthquakes because it's along the edge of the ring of fire.
	</p>
	<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/52/Pacific_Ring_of_Fire.svg/1200px-Pacific_Ring_of_Fire.svg.png" style="width: 90%; margin-left: 15px;">
</div>