<div class="margin"></div>
<div class="naisu">
	<h1 class="naisu">The history of Tokyo</h1>
	<p class="naisu">
		In the 16th century Tokyo was called Edo, it was a small castle town. In 1603 Tokugawa Ieyasu established a government there. A while later, it ended up being one the most populated city in the world. In 1868 the emperor moved from Kyoto to Edo, and renamed it to Tokyo.
	</p>
	<h1 class="naisu">Their role in World War 2</h1>
	<p class="naisu">
		In World War 2 they allied themselves with Germany and attacked almost everyone near them, then surprise attacked america at pearl harbor.
	</p>
	<img src="https://4.bp.blogspot.com/-ao8QnblXxhk/WimCFwp-0UI/AAAAAAAAe6Y/8fO4unQGf7w_FI_9W8b-jiPd8pBh1qAbwCLcBGAs/s1600/the-uss-west-virginia-left-was-one-of-the-battleships-to-sink-during-the-attack-the-japanese-successfully-damaged-all-eight.jpg">
</div>