<div class="margin"></div>
<div class="container-fluid start">
    <div class="row start">
        <div class="col-xs-12 start">
            <p class="big-text">Come visit Japan!</p>    
        </div>
    </div>
    <div class="row one-screen">
        <div class="col-xs-3">
            <div class="card">
              <img src="https://i.imgur.com/2sgwMvR.png" alt="Avatar" style="width:100%">
              <div>
                <h4><b>History</b></h4> 
                <p>Some place holder</p> 
              </div>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="card">
                  <img src="https://i.imgur.com/2sgwMvR.png" alt="Avatar" style="width:100%">
                  <div>
                    <h4><b>History</b></h4> 
                    <p>Some place holder</p> 
                  </div>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="card">
              <img src="https://i.imgur.com/2sgwMvR.png" alt="Avatar" style="width:100%">
              <div>
                <h4><b>History</b></h4> 
                <p>Some place holder</p> 
              </div>
            </div>
        </div>
        <div class="col-xs-3">
            <div class="card">
                  <img src="https://i.imgur.com/2sgwMvR.png" alt="Avatar" style="width:100%">
                  <div>
                    <h4><b>History</b></h4> 
                    <p>Some place holder</p> 
                  </div>
            </div>
        </div>
    </div>
</div>