<div class="homemargin"></div>
<div class="container-fluid start">
    <div class="row start">
        <div class="col-xs-12 start">
            <p class="big-text">Come visit Japan!</p>    
        </div>
    </div>
    <div class="row one-screen">
        <a href="/geography">
          <div class="col-xs-3">
              <div class="card">
                <img class="naisu" src="https://lonelyplanetwp.imgix.net/2010/03/yoshino_nara_blossoms_japan-274689236f12.jpg?crop=entropy&fit=crop&h=421&sharp=10&vib=20&w=748" alt="Avatar" style="width:100%">
                <div>
                  <h4><p class="naisu">Geography</p></h4>  
                </div>
              </div>
          </div>
        </a>
        <a href="/history">
          <div class="col-xs-3">
              <div class="card">
                    <img class="naisu" src="http://archaeologicaltrs.com/wp-content/uploads/2015/07/Japancastle.jpg" alt="Avatar" style="width:100%">
                    <div>
                      <h4><p class="naisu">History</p></h4> 
                    </div>
              </div>
          </div>
        </a>
        <a href="/culture">
          <div class="col-xs-3">
              <div class="card">
                <img class="naisu" src="https://i.pinimg.com/originals/b6/28/e5/b628e5c048beeb10b9ccc0a92366ea71.jpg" alt="Avatar" style="width:100%">
                <div>
                  <h4><p class="naisu">Culture</p></h4> 
                </div>
              </div>
          </div>
        </a>
        <a href="/city">
          <div class="col-xs-3">
              <div class="card">
                    <img class="naisu" src="https://cdn2.i-scmp.com/sites/default/files/styles/980x551/public/2017/07/20/tokyo.jpg?itok=en4pS151" alt="Avatar" style="width:100%">
                    <div>
                      <h4><p class="naisu">Tokyo</p></h4>  
                    </div>
              </div>
          </div>
        </a>
    </div>
</div>