 /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
 */

 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed, 
 figure, figcaption, footer, header, hgroup, 
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
 }
 /* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure, 
 footer, header, hgroup, menu, nav, section {
	display: block;
 }
 body {
	line-height: 1;
 }
 ol, ul {
	list-style: none;
 }
 blockquote, q {
	quotes: none;
 }
 blockquote:before, blockquote:after,
 q:before, q:after {
 	content: ''; 
 	content: none;
 }
 table {
 	border-collapse: collapse;
 	border-spacing: 0;
 }
 /*	End of reset */

 body {
 	background-color: white;
 	margin: 0px;
 }

.start {
    height: -webkit-fill-available;
    background-image: url("https://i.imgur.com/fDJqG1I.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    border-radius: 0px 0px 20px 20px;
}
.one-screen {
	height: -webkit-fill-available;
}
.vert-cent {
    height: 50%;
}
.margin {
	margin-top: 50px;
}
a:hover {
	background-color: transparent;
}
.big-text {
	margin: 0;
	padding: 20% 25% 25% 25%;
	font-size: 50px;
	text-align: center;
	font-family: 'Black Han Sans', sans-serif;
	color: black;
}
h4 {
	width: 100%;
}

/* CARD  start */
	/* On mouse-over, add a deeper shadow */
	.card:hover {
	    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
	}

	/* Add some padding inside the card container */
	.container {
	    padding: 2px 16px;

	}.card {
		margin-top: 10px;
		background-color: #eaeaea;
	    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	    transition: 0.3s;
	    border-width: 5px;
	    border-style: solid;
	    border-color: #cacaca;
	    border-radius: 5px; /* 5px rounded corners */
	}

	/* Add rounded corners to the top left and the top right corner of the image */
	img {
	    border-radius: 5px;
	}
/* CARD end*/